.cohort-item { 
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: Poppins;
    margin-top: 5%;
}

.cohort-name { 
    color: #4e5b27;
    font-weight: 600;
    font-size: 16px;
}

.value-bar-info{
    display: flex;
    justify-content: space-between;
    font-size: 12px; 
}

.date-stamp{
    font-weight: 300;
}

.attendance-percentage-text { 
  font-weight: bold;
  color: #8f9948
}

.progress-bar {
    margin-top: 2%; 
    margin-bottom: 2%;
}

.cohort-info {
    display: flex;
    justify-content: space-between;
    
}
.cohort-info img{
 width: 30px;
}

.allocations { 
  font-size: 12px;
  font-weight: 300;
}

.sign-out {
    display: flex;
    justify-content: space-between;
}


.mat-progress-bar-fill::after {
    background-color: #8f9948;
}

.mat-progress-bar {
    border-radius: 5px;
    height: 2px;
}

.mat-progress-bar-buffer {
    background-color:#ededed;
}

.sign-out-btn { 
    margin-right: -20px;
}

