
<div *ngIf="modifiedHistoryData">
    <div class="cohort-item">
        <div *ngFor="let cohort of modifiedHistoryData">
          <div class="cohort-name">{{ cohort.cohortName }}</div>
          <div class="value-bar-info">
            <div class="date-stamp">{{ cohort.startDate}}-{{cohort.endDate}}</div>
            <div class="attendance-percentage">
              <span class="attendance-percentage-text">{{ cohort.attendancePercentage }}% </span>Attendance
            </div>
          </div>
          <div class="progress-bar"> 
            <mat-progress-bar class="" mode="determinate" value={{cohort.attendancePercentage}}></mat-progress-bar>
          </div>
          <div class="cohort-info">
            <span class="allocations">{{cohort.cohortAllocation.total}} students: {{cohort.cohortAllocation.android}}: ANDROID, {{cohort.cohortAllocation.android}}: FULLSTACK</span>
            <img src="../../../../assets/img/right-arrow-icon.png" alt="sign-out" class="icons8-sign-out-100">
          </div>
          <hr class="divider">
        </div>  
        <div class="sign-out"> 
            <div>SIGN OUT</div>
            <div class="sign-out-btn">
              <button class="menu-items customize" mat-menu-item (click)="onLogoutUser()">
                <img src="../../../../assets/img/icons-8-sign-out-1001.png" alt="sign-out" class="icons8-sign-out-100">
              </button>
            </div>
        </div>
      </div>
</div>
