  .cohortRadios {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .cohortRadioButton {
    margin: 5px;
  }

  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }

  #assignTms{
    margin-left: 10px;
    background-color: #8f9948;
    padding: 5px;
  }