<h3>Assign TM To Cohort</h3>
<p>Select Cohort and Assign a Technical Mentor</p>
<mat-dialog-content>
<form [formGroup]="assignCohortsForm" (ngSubmit)="assignTMs()">
    <mat-radio-group class="cohortRadios" formControlName="cohortControl">
        <mat-radio-button class="cohortRadioButton" *ngFor="let cohort of availableCohorts" [value]="cohort.cohort_name">
            {{cohort.name}}
        </mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
        <mat-label>Technical Mentors</mat-label>
        <mat-select formControlName="listOfTms" multiple appearance="outline">
            <mat-option *ngFor="let tm of allTMs" [value]="tm.email">{{tm.first_name}} {{tm.last_name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" id="assignTms">
        <mat-icon>check</mat-icon> Assign TM(s) To Cohort
    </button>
</form>
</mat-dialog-content>
