<header class="inputs">
    <section>
        <div class="first-row">
            <div class="search">
                <mat-form-field appearance="outline">
                    <mat-label><mat-icon>search</mat-icon> Search Students</mat-label>
                    <input matInput type="text" (keyup)=search($event)>
                </mat-form-field>
            </div>
            <div class="recomendation">
                <mat-form-field appearance="outline">
                    <mat-label>Recommendation Status</mat-label>
                    <select matNativeControl (change)=search($event)>
                        <option value="" disabled selected hidden></option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                        <option value="probation">Probation</option>
                    </select>
                </mat-form-field>
            </div>
            <div class="status">
                <mat-form-field appearance="outline">
                    <mat-label>Email Status</mat-label>
                    <select matNativeControl (change)="statusChange($event.target.value)">
                        <option value="" disabled selected hidden></option>
                        <option value="true">Sent</option>
                        <option value="false">Not Sent</option>
                    </select>
                </mat-form-field>
            </div>
        </div>
    </section>

    <section class="second-section">
        <div class="second-row">
            <div class="select-option">
                <p>Please what kind of email notification do you want to send</p>
                <mat-form-field appearance="outline">
                    <mat-label>Please select option</mat-label>
                    <mat-select (selectionChange)="selectEmailOption($event.value)">
                        <mat-option value="finaList">Final List</mat-option>
                        <mat-option value="statusEmail">Status Email</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="button">
                <button class="btn" mat-button (click)="sendMail()">Send Email</button>
            </div>
        </div>
    </section>

    <section>
        <div class="third-row">
            <table mat-table [dataSource]="dataSource">
            
                <!-- Position Column -->
                <ng-container matColumnDef="fullNames">
                    <th mat-header-cell *matHeaderCellDef> Full Names(username) </th>
                    <td mat-cell *matCellDef="let user">
                        <div class="parent">
                            <p>{{ user.first_name }} {{ user.last_name }}</p>
                            <p> <button mat-button>{{ user.class }}</button> <button mat-button>{{ user.track }}</button></p>
                        </div>
                    </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="studentEmail">
                    <th mat-header-cell *matHeaderCellDef> Student Email </th>
                    <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
                </ng-container>
            
                <!-- Weight Column -->
                <ng-container matColumnDef="finalRecommendation">
                    <th mat-header-cell *matHeaderCellDef> Final Recommendation </th>
                    <td mat-cell *matCellDef="let user"> {{ user.recommendation }} </td>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="statusEmail">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let user">
                        <div class="td">
                            <mat-icon [ngClass]="user.status ? 'success' : 'notSent'">stop_circle</mat-icon>
                            <span *ngIf="user.status; else notSent"> Sent</span>
                            <ng-template #notSent>
                                <span>Not Sent</span>
                            </ng-template>
                        </div>
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
            </table>
        </div>
    </section>
    <br>
    <br>

    <section>
        <footer>
            <p>&copy;2020 All Rights Reserved. Moringa School.
            Privacy, terms and Conditions.</p>
        </footer>
    </section>
</header>