
$primary-color: #8f9948;
$secondary-color: #f6f8fc;
$accent-color: #d9534f;
$font-color: #000000;
$font-family: 'Poppins';
@mixin fontFamily {
    font-family: $font-family, 'Times New Roman', Times, serif;
    font-family: 'Poppins';
    font-size: 0.9rem;
    color: #515357;
}

* {
    box-sizing: border-box;
}
.second-section {
    margin-top: 0.3rem;
}

// material customization
::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: $primary-color;
    }

    .mat-form-field-appearance-outline .mat-form-field-wrapper {
        margin: 0 import !important;
    }

}

section {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    @include fontFamily;
   
    .first-row {
        width: 56vw;
        display: flex;
        justify-content: space-between;

        & .search .mat-form-field {
            font-size: 0.7rem;
        }

        & .recomendation .mat-form-field {
            font-size: 0.7rem;
            width: 15rem;
        }


        & .status .mat-form-field {
            font-size: 0.7rem;
            width: 15rem;
        }

        // & .status #status-choice {
        //     width: 13rem;
        //     height: 1.8rem;
        //     border: 3px solid $primary-color;
        //     background-color: transparent;
        //     color: &$font-color;
        //     padding-left: .8rem;
        // }
    }

    .second-row {
        width: 56vw;
        display: flex;
        justify-content: space-between;
        padding-top: 0;

        p {
            margin: 0;
            @include fontFamily();
        }

        & .select-option {
            margin: 0;
        }

        & .select-option .mat-form-field {
            font-size: 0.7rem;
            width: 40vw;
        }

        & .button {
            align-self: center;


            & .btn {
                width: 10rem;
                height: 2.6rem;
                color: #fff;
                border: solid 1px #8f9948;
                background-color: #8f9948;
                cursor: pointer;
                outline: none;
                margin-top: 0.4rem;


                &:hover {
                    background-color: #fff;
                    color: $primary-color;
                    border: 2px solid $primary-color;
                }
            }
        }
    }

    .third-row {
        width: 57vw;

        & table {
            width: 100%;
            text-align: start;
            border-collapse: collapse;
            color: #636363;

            & tr:hover {
                cursor: pointer;
                background-color: #f5f5f5;                
            }

            & th {
                font-weight: bolder;
                font-size: 0.9rem;
                color: rgb(27, 27, 27);
            }

            .success {
                color: $primary-color;
                display: inline;
            }
            .notSent {
                color: $accent-color;
                display: inline;
            }

            & th, td{
                // padding: auto 1rem;
                text-transform: capitalize;
                text-align: center;
                width: 25%;
                align-content: center;

            }

            & td .td {
                display: flex;
                justify-content: center;
                text-transform: uppercase;
                align-items: center;
                

                & span {
                    margin-left: 0.3rem;
                }
            }

            .parent .mat-button {
                color: #fff;
                background-color: $primary-color;
                margin: 0 0.3rem;
                margin-bottom: 0.2rem;
                height: 1.5rem;
                width: 4.5rem;
                vertical-align: middle;
                padding: 0;
                line-height: 0;
            }
           

        }
    }

    footer {
        width: 56vw;
        display: flex;
        justify-content: center;
        

        p {
            bottom: 2rem;
        }
    }
}
