<div class="container" *ngIf="userInfo">
    <div class="personal-details">
        <img class="profile-image" src="../../../../assets/img/default_tm_profile_pic.png">
        <div class="text-info">
            <div class="name">
                {{ userInfo.technicalMentorName}}
            </div>
            <div class="email">
                {{ userInfo.email}}
            </div>
            <div class="role">
                {{ userInfo.role}}
            </div>
        </div>
    </div>
    <div>
        <mat-tab-group>
            <mat-tab label="ALL COHORTS"> 
                <app-tm-cohorts [cohortHistory]="cohortHistory"></app-tm-cohorts>
             </mat-tab>
            <mat-tab label="FINAL LIST"> <app-final-list></app-final-list> </mat-tab>
            <mat-tab label="SETTINGS"> <app-tm-settings></app-tm-settings>  </mat-tab>
        </mat-tab-group>
    </div>
</div>
