.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.personal-details {
  display: flex;
  flex-direction: row;
}

.role { 
  color: #636363;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
}
.text-info {
  margin-top: 5%;
  margin-left: 5%;
}
.name {
  font-size: 24px;
  font-weight: 500;
}

.email {
    color: #8f9948;
    font-size: 16px;
    font-weight: 300px;
}

/* Styles for tab labels */
.mat-tab-label {
  background-color: transparent;
  color: #8f9948;
  font-weight: 300;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  padding: 5px;
  background-color: transparent;
  color: #8f9948;;
  font-weight: 500;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color:#8f9948;
}

