.quick-links {
    display: flex;
    justify-content: flex-end;
}

.random-button {
    margin-right: 5%;
    padding: 20px;
}

.random-button button {
    border-radius: 13px;
    border: solid 1px #dddddd;
    background-color: rgba(255, 255, 255, 0);
    color: #636363;
    font-family: Poppins;
}

.student-list-container {
    width: 90%;
    margin: 0 5%;
}

.list-cohorts {
    display: inline-flex !important;
    margin-bottom: 10px;
}

.list-cohorts ::ng-deep .mat-select-value {
    width: 87% !important;
}

.list-cohorts ::ng-deep .mat-select-arrow-wrapper {
    background-color: #4e5b27;
    border-radius: 50%;
}

::ng-deep .mat-select-arrow {
    color: white !important;
}
