<div class="quick-links">
    <div class="random-button">
        <button mat-raised-button class="" (click)="openSendEmailDialog()">UPLOAD FINAL LIST</button>
    </div>
</div>
<div class="student-list-container">
    <h3>List of students</h3>
    <div class="list-cohorts" (click)="fetchCohorts()">
        <mat-form-field appearance="none">
            <mat-label >ALL COHORTS</mat-label>
            <mat-select  [(ngModel)]="selectedcohort"  >
                <mat-option  *ngFor="let cohortItem of cohorts"  [value]="cohortItem.id" (click)="getStudentsInCohort()" >
                    <span >{{cohortItem.name}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-table [dataSource]="students" matSort matSortActive="username" matSortDirection="asc" matSortDisableClear>
        <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Username. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.first_name}} {{element.last_name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="created_at">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Joined in. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.created_at | date}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="updated_at">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Lasted updated on. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.updated_at | date}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #studentPaginator [length]="totalStudents" [pageSize]="pageSize" [pageSizeOptions]=""
        (page)="pageEvent = $event; onPaginateChange($event)">
    </mat-paginator>
</div>