<div class="email-uploader-wrapper">
    <div class="upload-email-form">
        <div class="formInput">
            <div class="logo">
                <img src="../../../assets/img/moringa_logo.png" alt="" srcset="">
            </div>
            <span class="emailTitle">Email Address(es) Upload</span>
            <p>Class</p>
            <mat-form-field appearance="outline" class="editableInput">
                <input matInput placeholder="MPFTXX" aria-label="Cohort" [formControl]="classSelector" [matAutocomplete]="auto" class="class_identifier">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let class of filteredClasses | async" [value]="class.cohort_name">
                        {{class.cohort_name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <p>Attach File Containing Emails</p>
            <div class="boxArea">
                <label for="file-upload" class="custom-file-upload">
                    <i class="fa fa-cloud-upload"></i> Upload Emails
                </label>
                <input #dataUpload id="file-upload" class="file-upload" type="file" accept=".csv" (change)="uploadCSVFile($event)" id="input" />
            </div>
            <div class="fileTypes">
                Acceptable file types: .csv
            </div>
            <button mat-raised-button class="submitButton" (click)="sendFileToServiceForUpload()" [disabled]="!isLoaded && !uploadCompleted">Upload Email(s)</button>
            <button mat-raised-button class="submitButton" (click)="sendBulkEmail()" *ngIf="uploadCompleted">Send bulk
                email</button>
        </div>
    </div>
    <div class="email-data-table" [hidden]="!isLoaded">
        <div class="mat-elevation-z4" class="datatable-wrapper">
            <table mat-table [dataSource]="dataSource" class="dataTable" #table *ngIf="dataSource && dataSource.data.length">

                <!-- Name Column -->
                <ng-container matColumnDef="Username">
                    <th mat-header-cell *matHeaderCellDef> Username </th>
                    <td mat-cell *matCellDef="let element"> {{element.Username}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email address. </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="firstname">
                    <th mat-header-cell *matHeaderCellDef> First Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="secondname">
                    <th mat-header-cell *matHeaderCellDef> Second Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.second_name}} </td>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" (page)="pageEvent = $event">
            </mat-paginator>
        </div>

        <div id="failed-mail" [hidden]="!noEmails">
            <table class="dataTable" id="failedEmails" *ngFor="let email of failedToCreateEmails">
                <thead>Failed Emails</thead>
                <tr>
                    <td>{{email}}</td>
                </tr>
            </table>
        </div>

    </div>
    <div class="no-data-uploaded" [hidden]="isLoaded">
        <h4>No Data Has Been Uploaded</h4>
    </div>

</div>