body {
    background-color: #F7F7F7;
    width: 100%;
    color: #636363;
}

.logo img {
    width: 20%;
    background-size: contain;
}

.email-uploader-wrapper {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    padding: 60px;
    margin: 30px;
}

.email-uploader-wrapper .upload-email-form {
    flex: .5;
}

.email-uploader-wrapper .email-data-table {
    flex: 1;
}

.dataTable {
    width: 100%;
}

.email-uploader-wrapper .upload-email-form {

    margin: 20px;
}

.emailTitle {
    /* font-weight: bold; */
    font-size: 18px;
    color: #636363;
    font-family: 'Poppins', serif;
}

.formInput {
    background-color: #ffffff;
    padding: 20px;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #8F9948;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    /* border: 2px solid #8F9948; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 35px 12px; */
    cursor: pointer;
    height: 15vh;
    width: 100%;
    font-size: 1.5em;
    /*text-align: center;*/
    font-family: 'Poppins', serif;
    color: #F7F7F7;
    /*vertical-align: middle;*/
    background-color: #DCDFCA;
}

.fa-cloud-upload {
    margin-right: 10px;
}

.fileTypes {
    font-size: .7em;
    margin-top: 2%;
    color: #636363;
}

.submitButton {
    margin-top: 4%;
    color: #ffffff;
    background-color: #8F9948;
    width: 100%;
    height: 50px;
    border-radius: 0;
}

mat-form-field {
    width: 100%;
}

.datatable-wrapper {
    margin: 20px;
}

#failed-mail{
   width: 100%;
   margin-left: 3%;
   font-size: 14px;
}

#failed-mail thead{
    color: red;
    font-weight: bold;
    font-size: 18px;

}