<div class="form-header">
  <div class="text">
    Upload Status Emails
    <div class="underline"></div>
  </div>
  <button class="close" (click)="cancel()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">cancel</mat-icon>
  </button>
</div>

<div>
  <form [formGroup]="statusEmailForm" (ngSubmit)="checkStatus()">
    <div class="upload-form">
      <p class="format-text">
        File name format is : MPFTXX Final List, MPPXX Final List, DSPFTX, MCXX Final List. Get sample CSV <a
          href="#">here</a>
      </p>
      <div class="file-uploader" [ngClass]="{'add-error': fileError || extensionError}">
        <div class="action-text"> {{ fileName }}</div>
        <button type="button" (click)="fileInput.click()">
          <span>Browse</span>
          <input #fileInput type="file" (change)="onFileChange($event)" [formControl]="statusEmailForm.controls.file" ngDefaultControl
          [ngClass]="{'display': display}"/>
        </button>
      </div>
      <mat-error *ngIf="fileError && !extensionError" class="input-error">Kindly follow the file naming format guideline provided.
      </mat-error>
      <mat-error *ngIf="extensionError " class="input-error">Kindly upload a CSV file
      </mat-error><input #fileInput type="file" [formControl]="statusEmailForm.controls.file" (change)="onFileChange($event)"
      style="display:none;" />

      <mat-form-field class="form-input" appearance="outline">
        <mat-label>Next Module</mat-label>
        <input type="text" matInput placeholder="Next Module " [formControl]="statusEmailForm.controls.nextModule"
          required />
        <mat-error *ngIf="statusEmailForm.controls.nextModule.invalid" class="input-error">Next Module Name is a
          required field
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Cohorts</mat-label>
        <mat-select [formControl]="statusEmailForm.controls.cohorts" name="cohort" required>
          <mat-option *ngFor="let cohort of cohorts" [value]="cohort.id">
            {{cohort.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="statusEmailForm.controls.level.invalid" class="input-error">Cohort required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Module Level</mat-label>
        <mat-select [formControl]="statusEmailForm.controls.level" name="level" required>
          <mat-option *ngFor="let module of modules" [value]="module.value">
            {{module.level}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="statusEmailForm.controls.level.invalid" class="input-error">Module Level required
        </mat-error>
      </mat-form-field>

      <div class="bar-section" *ngIf="isLoading">
        <mat-progress-bar mode="determinate" value="{{progress}}"></mat-progress-bar>
      </div>
    </div>



    <div class="submit-btn">
      <button [disabled]="statusEmailForm.invalid || fileError" mat-button class="">UPLOAD CSV</button>
    </div>



  </form>
</div>
