.text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.86;
    letter-spacing: normal;
    text-align: left;
    color: #636363;
    align-self: flex-start;
}

.format-text { 
    width: 371px;
    height: 27px;
    margin: 5.9px 0.5px 15px 1.5px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;

    color: #000000;
}

.form-header {
    margin-bottom: 20px;
    display: flex; 
    flex-direction: row;

}

.form-header button { 
    padding: 0;
    border: none;
    background: none;
}

.close { 
    align-self: flex-end;
    color:#8f9948;
    margin-left: 5%;
}

.underline { 
    width: 420px;
    margin: 10px 0px 5px 0px;
    border: solid 0.5px #dddddd; 
}


.upload-form { 
    width: 90%;
    margin: 0px 0.5px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.submit-btn { 
    display: flex;
    justify-content: flex-end;
}

.file-uploader { 
  /* margin-bottom: 20px; */
  width: 95%;
  height: 30px;
  margin: 4.6px 104px 26px 0;
  padding: 2.2px 2.4px 2.8px 9.7px;
  border-radius: 15px;
  background-color: #dddddd;
  display: flex;
  flex-direction: row;
  font-family: Poppins;
  font-size: 12px;
 
}

.input-error { 
    font-size: 8px;
    margin-left: 5px;
    margin-top: -20px;
}

.add-error { 
    border: solid 1px red;
}

.bar-section {
    margin-bottom: 20px;
}

.action-text { 
    margin-top: 5px;
    width: 70%;
}

.file-uploader button { 
    border-radius: 13px;
    border: solid 1px #dddddd;
    background-color: #8f9948;
    color: #dddddd;
    width: 30%;
 
}

.submit-btn button { 
    border: solid 1px #8f9948;
    background-color: #8f9948;
    color: #fff;
    margin-right: 7%;
}

/* .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: white;
} */

.mat-form-field.mat-form-field {

    font-size: 12px; 
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #8f9948;
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
    color: #8f9948;
  }
  .mat-select-arrow .mat-select-arrow-wrapper { 
    color: #8f9948;
  }

  .mat-form-field-outline-start, .mat-form-field-outline-end {
    border-radius: 0 !important;
}

.mat-button { 
    border-radius: 0 !important;
}

.mat-error { 
    margin-bottom: 10px;
}

a {
    color: #8f9948;
}

 .mat-progress-bar-fill::after {
    background-color: #8f9948;
}

.display { 
    display: none;
}
