.main-wrapper {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    padding: 3rem;
    
}

.form-input {
    width: 100%;
}

.input-error {
    font-size: 10px;
    line-height: 12px;
}

.create-cohort-button {
    width: 118px;
    height: 30px;
    margin: 10px 0 0 65px;
    border: solid 1px #8f9948;
    background-color: #8f9948;
    font-style: normal;
    line-height: 1.87;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff!important;
    font-family: Poppins;
    font-size: 9px;
    font-weight: 300;
    float:right;
    border-radius: 0px!important;
    text-transform: uppercase;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #8f9948;
}

.mat-spinner {
    margin: 0 auto;
}

p.intro {
    height: 27px;
    margin: 0 82.5px 9.6px 0.5px;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

main-wrapper > label {
    height: 20px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.86;
    letter-spacing: normal;
    text-align: left;
    color: #636363;
}

.mat-form-field.mat-form-field {

    font-size: 12px; 
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #8f9948;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
    color: #8f9948;
}
.mat-select-arrow .mat-select-arrow-wrapper { 
    color: #8f9948;
}

.mat-form-field-outline-start, .mat-form-field-outline-end {
    border-radius: 0 !important;
}

mat-form-field.cohort-date{
    width: 45%!important;
    margin:0px 0px!important;
    display: inline;
}


mat-form-field.start-date{
    float: left !important;
}

mat-form-field.end-date{
    float: right !important;
}

form.frm-new-cohort{
    padding:20px 0px;
    margin-left: auto;
    margin-right: auto;
    width:35rem;
}





