<div class="main-wrapper">
  <label>Create A New cohort</label>
  <p class="intro">
    Enter the name of the cohort in the following format:<br />
    <i>MPFTXX, MPPXX, DSPFTX</i>
  </p>
  <form
    class="frm-new-cohort"
    [formGroup]="createCohortForm"
    (ngSubmit)="createCohort()"
  >
    <mat-form-field class="form-input" appearance="outline">
      <mat-label>Cohort Name</mat-label>
      <input
        type="text"
        matInput
        placeholder="Cohort Name"
        [formControl]="createCohortForm.controls.cohort_name"
        required
      />
      <mat-error
        *ngIf="createCohortForm.controls.cohort_name.invalid"
        class="input-error"
      >
        Cohort Name is a required field
      </mat-error>
    </mat-form-field>

    <mat-form-field
      class="form-input cohort-date start-date"
      appearance="outline"
    >
      <mat-label>Start date</mat-label>
      <input
        matInput
        [matDatepickerFilter]="pastDateFilter"
        [matDatepicker]="startDatePicker"
        [formControl]="createCohortForm.controls.start_date"
        required
      />

      <mat-datepicker-toggle matSuffix [for]="startDatePicker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
      <mat-error
        *ngIf="createCohortForm.controls.start_date.invalid"
        class="input-error"
      >
        Start date is required
      </mat-error>
    </mat-form-field>

    <mat-form-field
      class="form-input cohort-date end-date"
      appearance="outline"
    >
      <mat-label>End date</mat-label>
      <input
        matInput
        [matDatepickerFilter]="pastDateFilter"
        [matDatepicker]="endDatePicker"
        [formControl]="createCohortForm.controls.end_date"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="endDatePicker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
      <mat-error
        *ngIf="createCohortForm.controls.end_date.invalid"
        class="input-error"
      >
        End date is required
      </mat-error>
    </mat-form-field>

    <button
      style="display: block !important;"
      class="create-cohort-button"
      *ngIf="!isLoading"
      mat-button
      [disabled]="!createCohortForm.valid"
    >
      Create Cohort
    </button>
    <div class="loading-spinner" *ngIf="isLoading">
      <mat-spinner [diameter]="35"></mat-spinner>
    </div>
  </form>
</div>
