<div class="settings-info">
    <div class="send-invites-form">
        <form [formGroup]="invitesForm" (ngSubmit)="sendInvites()">
            <div class="call-to-action">Manage Other People</div>
            <div class="action-description">Add Technical Mentors to the Platform.</div>
            <mat-form-field class="form-input" appearance="outline">
                <input type="text" matInput placeholder="Enter Emails" [formControl]="invitesForm.controls.emails"
                    required />
                <mat-error *ngIf="invitesForm.controls.emails.invalid" class="input-error">email input required
                </mat-error>
            </mat-form-field>
            <div class="submit-info">
                <div class="submit-validation-text">separate each email with a comma</div>
                <button class="submt-btn" [disabled]="invitesForm.invalid">SEND INVITES</button>
            </div>
        </form>
    </div>

    <hr class="divider">

    <div class="admin-privileges"  (click)="openAssignCohortDialog()">
        <div class="admin-action">
            <div class="admin-action-text">Assign TM to Cohort</div>
            <img src="../../../../assets/img/right-arrow-icon.png" alt="sign-out" class="icons8-sign-out-100">
        </div>
        <div class="admin-action-instruction">Select Cohort and Assign a Technical Mentor</div>
    </div>

    <hr class="divider">


    <div class="sign-out">
        <div>SIGN OUT</div>

        <div class="sign-out-btn">
            <button class="menu-items customize" mat-menu-item (click)="onLogoutUser()">
                <img  src="../../../../assets/img/icons-8-sign-out-1001.png" alt="sign-out" class="icons8-sign-out-100">
            </button>
        </div>
    </div>

</div>
