.settings-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
    font-family: Poppins;
}

.call-to-action{ 
    font-weight: 300;
    font-size: 14px;
    color: #000000;
}

.action-description { 
    font-weight: 300;
    font-size: 12px; 
    color: #636363;
}


.mat-form-field.mat-form-field {
    font-size: 12px; 
    width: 100%;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(112, 112, 112, 0.18);
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
    color: rgba(112, 112, 112, 0.18);
  }
  .mat-select-arrow .mat-select-arrow-wrapper {   
    color: rgba(112, 112, 112, 0.18);
  }

  .mat-form-field-outline-start, .mat-form-field-outline-end {
    border-radius: 0 !important;
}

.mat-button { 
    border-radius: 0 !important;
}

.mat-error { 
    margin-bottom: 10px;
}

a {
    color: #8f9948;
}

.submit-info {
    display: flex;
    justify-content: space-between;
}

.submt-btn { 
    border: solid 1px #8f9948;
    background-color: #8f9948;
    color: #fff;
    height: 38px;
}

.submit-validation-text { 
  font-size: 10px;
  font-weight: 300;
  color: #636363;
}

.admin-action{
  display: flex;
  justify-content: space-between;
}

.admin-action img {
  width: 30px;
}

.admin-action-text {
 color: #000000;
 text-align: left;
 font-weight: 300;
 font-size: 14px;

}

.admin-action-instruction{ 
    color: #636363;
    text-align: left;
    font-weight: 300;
    font-size: 12px;
}

hr.divider {
  width: 100%;
  border: solid 1px #dddddd;
}

.right-icon {
  width: 30px;
}

.sign-out-btn { 
  margin-right: -20px;
}
