<div
  class="container"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxFlex="0 1 auto"
>
  <mat-card
    class="example-card"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxFlex="0 1 auto"
  >
    <h3 fxLayoutGap="20px">
      TWO STEP VERIFICATION
    </h3>
    <h5>Generate a one Time Password</h5>

    <img mat-card-image src="../../../assets/svg/confirm.svg" alt="confirm" />
    <mat-card-content>
      <h1>{{ otpvalue | async }}</h1>
    </mat-card-content>
    <button (click)="generateOtp()" mat-button color="primary">
      GENERATE OTP
    </button>
  </mat-card>
</div>
