.example-card {
  width: 600px !important;
  margin: 0 10px;
}

.container {
  height: 100vh;
  width: 100vw;
}

img {
  width: 150px;
  height: 130px;
  margin-bottom: 60px;
}

mat-card-header {
  font-size: 0;
  width: 100%;
}

h3,
h5 {
  font-size: 16px;
  font-family: "Poppins" sans-serif;
  margin: 0;
}

h3 {
  font-weight: 500;
  margin-bottom: 10px;
}

h5 {
  font-weight: 300;
  margin-bottom: 60px;
}

button {
  color: #fff !important;
  background: linear-gradient(150deg, #8f9948 0%, #4e5b27 100%);
}
