.final-list { 
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: Poppins;

}

.final-list-cohort-name {
    font-weight: 300;

}

.final-list-upload-date { 
    color: #636363;
    font-weight: 300;
    font-size: 12px;

}

.final-list-specifics {
    display: flex;
    flex-direction: column;
}

.final-list-info { 
    display: flex;
    justify-content: space-between;
}

.final-list-link img { 
    width: 30px;
}

.sign-out-btn { 
    margin-right: -20px;
}
