<div *ngIf="finalListInfo" class="final-list"> 
    <div *ngFor="let cohort of finalListInfo">
        <div class="final-list-info">
            <div class="final-list-specifics"> 
                <div class="final-list-cohort-name">{{ cohort.cohortName }} FINAL LIST</div>
                <div class="final-list-upload-date">uploaded {{ cohort.uploadDate }}</div>
            </div>
            <div class="final-list-link">
                <img src="../../../../assets/img/right-arrow-icon.png" alt="sign-out" class="icons8-sign-out-100">
            </div>
        </div>
        <hr class="divider">

    </div>
    <div class="sign-out"> 
        <div>SIGN OUT</div>
        <div class="sign-out-btn">
          <button class="menu-items customize " mat-menu-item  (click)="onLogoutUser()">
            <img src="../../../../assets/img/icons-8-sign-out-1001.png" alt="sign-out" class="icons8-sign-out-100">
          </button>
        </div>
    </div>
</div>
