<div class="login-wrapper">
  <img src="../../../assets/images/logo_tree.png" class="logo" alt="Logo" />
  <h1 class="large-title">Attendance Tracker</h1>
  <h4 class="small-title">
    If you are a mentor in Moringa School, enter your details to login
  </h4>

  <form [formGroup]="form" (ngSubmit)="loginUser()">
    <div class="form-container">
      <div>
        <mat-form-field>
          <input
            matInput
            placeholder="Enter username or email"
            type="email"
            class="form-input username"
            [formControl]="form.controls.email"
          />
        </mat-form-field>
        <mat-error
          *ngIf="submitted && form.controls.email.invalid"
          id="email-error"
          class="email-erroform.controls.emailr"
          >Please enter valid email address
        </mat-error>
      </div>
      <div>
        <mat-form-field>
          <input
            matInput
            placeholder="Enter password"
            type="password"
            class="form-input password"
            [formControl]="form.controls.password"
          />
        </mat-form-field>
        <mat-error
          *ngIf="submitted && form.controls.password.invalid"
          id="password-error"
          class="password-error"
          >Password is a required field
        </mat-error>
      </div>
    </div>
    <div class="login-buttons-container" *ngIf="!isLoading">
      <button mat-button class="login-btn button">Login</button>
    </div>
    <div class="loading-spinner" *ngIf="isLoading">
      <mat-spinner [diameter]="35"></mat-spinner>
    </div>
  </form>

  <div class="separator-container">
    <hr class="or-separator" data-content="OR" />
  </div>
  <div class="social-login-buttons-container">
    <button
      mat-button
      class="social-login-btn button"
      (click)="signInWithGoogle()"
    >
      <img
        src="../../../assets/images/google_logo.png"
        alt="Google Icon"
        class="social-login-icon"
      />
      Login with Google
    </button>
  </div>
  <small class="copyright"
    >&copy; 2020. All rights reserved. Moringa School. <br />Privacy, terms and
    Conditions</small
  >
</div>
