.login-wrapper {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logo {
  max-width: 44px;
  height: auto;
  margin-top: 2em;
}

.large-title {
  font-size: 36px;
  color: #636363;
  line-height: 43px;
}

.small-title {
  font-weight: normal;
  color: #6f7c87;
  font-size: 15px;
  line-height: 18px;
}

.button {
  color: #fff;
  font-weight: 500;
  text-transform: none;
  width: 100% !important;
  border-radius: 0 !important;
}

.login-btn {
  background: linear-gradient(150deg, #8f9948 0%, #4e5b27 100%);
}

.social-login-btn {
  background-color: transparent;
  color: #6f7c87;
  border: 1px solid #d2dbec;
  font-weight: 600;
}

.form-container {
  margin: 15px auto;
  background: #fff !important;
}

.mat-form-field-flex {}

.form-container .mat-form-field {
  width: 100%;
}

.separator-container {
  margin: 10px auto;
}

.or-separator {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}

.or-separator::before {
  content: "";
  background: #818078;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.or-separator::after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #4e5b27;
  background-color: #F6F8FC;
}

.social-login-icon {
  margin-right: 15px;
}

:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #8f9948;
}

.mat-spinner {
  margin: 0 auto;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #8f9948 !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #8f9948 !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #8f9948 !important;
  ;
}

.mat-error,
.copyright {
  font-size: 10px;
  line-height: 12px;
}

.copyright {
  color: #6f7c87;
  position: absolute;
  bottom: -60px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
}
