<div
  class="container"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxFlex="0 1 auto"
>
  <mat-card
    class="example-card"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxFlex="0 1 auto"
  >
    <h3 fxLayoutGap="20px">
      TWO STEP VERIFICATION
    </h3>
    <h5>Check your email for an OTP from your T.M</h5>

    <img mat-card-image src="../../../assets/svg/confirm.svg" alt="confirm" />
    <mat-card-content>
      <form [formGroup]="otpForm">
        <mat-form-field class="example-full-width">
          <mat-label>Enter One Time Password</mat-label>
          <input
            matInput
            type="number"
            minlength="6"
            maxlength="6"
            placeholder="Ex. 80800"
            formControlName="otp"
          />
        </mat-form-field>
      </form>
    </mat-card-content>
    <button
      mat-button
      (click)="verifyOTP()"
      [disabled]="otpForm.invalid"
      color="primary"
    >
      Submit OTP
    </button>
  </mat-card>
</div>
