.top-nav {
    background-color: #f6f8fc;
    -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.top-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
}

.navbar-img {
    width: 98px !important;
}

.text {
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.active {
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    position: relative;
}

.active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 32px;
    height: 3px;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #8f9948;
    transform: translateX(-50%);
}

xw.navbar-items {
    text-decoration: none;
    height: 100%;
    width: 100px;
    color: #6f7c87;
    font-size: 12px;
    line-height: 14.4px;
    cursor: pointer;
    margin-right: 25px;
}

.right-nav {
    display: flex;
    justify-content: center;
    position: relative;
}

.navbar-items:hover {
    color: #8f9948 !important;
}

.icons8-upload-document-64 {
    width: 35px;
    height: 35px;
    margin-top: 15px;
}

.icons8-upload-document-64 img {
    max-width: 100%;
    max-height: 100%
}

.icons8-sign-out-100 {
    width: 35px;
    height: 35px;
    margin: auto;
}

.icons8-sign-out-100 img {
    max-width: 100%;
    max-height: 100%
}

.cohort-button {
    height: 37px;
    border-radius: 45px;
    background-image: linear-gradient(102deg, #8f9948 6%, #4e5b27 182%);
    margin-top: 12px;
    margin-right: 12px;
}

.cohort-button-text {
    margin-left: 5px;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.tm-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
    margin-left: 12px;
}

.drop-down-icon {
    margin-top: 0.8em;
    color: #8f9948;
}

.add-icon {
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 12px;
    height: 15px;
}

.customize {
    display: flex;
    justify-content: center;
}

.invite-icon {
    margin-left: 1em;
    background: none !important;
}

.invite-text {
    margin-left: 0.7em;
}