<mat-toolbar class="top-nav" *ngIf="isLoggedIn | async as isLoggedIn">
    <mat-toolbar-row class="top-nav-container">
        <div class="navbar-logo">
            <img class="navbar-img" src="../../../../assets/images/moringa_logo.png" alt="moringa logo">
        </div>
        <span class="menu-spacer"></span>

        <div class="center-nav">
            <a class="navbar-items text" mat-button routerLink="/">
                Dashboard
            </a>

            <a class="navbar-items text active" mat-button [routerLink]="['students']">
                Students
            </a>
        </div>
        <span class="menu-spacer"></span>

        <div class="right-nav">
            <a class="navbar-items" mat-button [routerLink]="['students/upload-email']" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <img class="icons8-upload-document-64" src="../../../../assets/img/tm_upload_icon.png" alt="upload">
            </a>
            <a class="cohort-button" mat-button (click)="openCreateCohortDialog()">
                <mat-icon class="add-icon" aria-hidden="false" aria-label="add icon">add</mat-icon>
                <span class="cohort-button-text">New Cohort</span>
            </a>
            <a class="cohort-button" mat-button (click)="openAssignCohortDialog()">
                <mat-icon class="add-icon" aria-hidden="false" aria-label="add icon">add</mat-icon>
                <span class="cohort-button-text">Assign Cohort</span>
            </a>
            <img class="tm-image" src="../../../../assets/img/default_tm_profile_pic.png" alt="#">
            <mat-icon class="drop-down-icon" [matMenuTriggerFor]="menu" mat-button aria-hidden="false"
                aria-label="arrow_drop_down icon">
                arrow_drop_down
            </mat-icon>
            <mat-menu #menu="matMenu">
                <button class="menu-items customize" mat-menu-item (click)="onLogoutUser()" *ngIf="isLoggedIn">
          <img src="../../../../assets/img/icons-8-sign-out-1001.png" alt="sign-out" class="icons8-sign-out-100">
          <span>Sign Out</span>
        </button>
                <button class="menu-items customize" mat-menu-item (click)="openInviteTMDialog()">
                    <img src="../../../../assets/img/invite-user.png" alt="invite-tm"
                        class="icons8-sign-out-100 invite-icon">
                    <span class="invite-text">Invite TM</span>
                </button>
                <button class="menu-items customize" mat-menu-item (click)="redirectToProfile()">
                    <img src="../../../../assets/img/invite-user.png" alt="invite-tm"
                        class="icons8-sign-out-100 invite-icon">
                    <span class="invite-text">Profile</span>
                </button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>