<div class="main-wrapper">
  <div class="profile">
    <img class="tm-image" src="../../../../assets/img/default_tm_profile_pic.png" alt="#"> 
    <div class="profile-details">
      <div class="small-title" >Samora Yommie</div>
      <div class="small-title">samora.yommie@moringaschool.com</div>
      <div class="small-title">Technical Mentor</div>
    </div>

  </div>
  <div class="invite-container">
    <div class="invite-header">Manage other people</div>
    <div class="invite-subtitle">Add Technical Mentors to the platform</div>
    <form [formGroup]="inviteTMForm" (ngSubmit)="inviteTM()">
      <div class="form-container">
          <div>
              <mat-form-field class="form-input">
                  <input
                    matInput
                    placeholder="Enter emails"
                    type="email"
                    class="form-input user-email"
                    [formControl]="inviteTMForm.controls.email"
                  />
                </mat-form-field>  
                <mat-error
                  *ngIf="submitted && inviteTMForm.controls.email.invalid"
                  id="email-error"
                  class="email-error"
                  >Please enter valid email address
                </mat-error> 
                <mat-error
                *ngIf="submitted && error"
                class="input-error"
                >Error when inviting TM
            </mat-error>
          </div>
      </div>
      <div class="invite-button-container">
        <span class="invite-info">Separate each email with a comma</span>
        <div class="invite-TM-button" *ngIf="!isLoading">
          <button mat-button class="invite-TM-btn button">Invite TM</button>
        </div>
      </div>

        <div class="loading-spinner" *ngIf="isLoading">
          <mat-spinner [diameter]="35"></mat-spinner>
        </div>
  </form>
  </div>
</div>
