.main-wrapper {
    display: flexbox;
    flex-direction: column;
    padding: 3rem;  
}
.profile{
    display:flex;
}
.profile-details{
    display: flexbox;
    margin: 20px 0 0 20px;
    font-size: small;
}
.invite-container{
    position: relative;
    display: flexbox;
}
.invite-header{
    margin-top: 5px;
}
.invite-subtitle{
    margin-bottom: 2px;
    font-size: smaller;
    color:grey;
}
.large-title {
    font-size: 36px;
    color: #636363;
    line-height: 43px;
    margin: 5px;
}
  
.small-title {
    font-weight: normal;
    color: #6f7c87;
    font-size: small;
    line-height: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.invite-title{
    text-align: left !important;
}

.main-wrapper > form {
    width: 20rem;
}

.form-container {
    height: auto;
    width: 90%;
    background: #fff !important;
}

.form-input {
    width: 100%;
}

.email-error {
    font-size: 10px;
    line-height: 12px;
}
.invite-button-container{
    display: inline-flex;
    width: 100%;
}

.invite-info{
    width:60%;
    color: grey;
    font-size: xx-small;
}

.invite-TM-button {
    text-align: center;
    color: #fff;
    width: 40%;
    background: linear-gradient(150deg, #8f9948 0%, #4e5b27 100%);
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #8f9948;
}

.mat-spinner {
    margin: 0 auto;
}
