@import "~@angular/material/theming";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap");

@include mat-core();

$mat-app-primary: mat-palette($mat-lime, 900);
$mat-app-accent: mat-palette($mat-yellow, 700);
$mat-app-warn: mat-palette($mat-red, 600);

$mat-app-theme: mat-light-theme(
  $mat-app-primary,
  $mat-app-accent,
  $mat-app-warn
);

html,
body {
  height: 100%;
  background: #f6f8fc;
}
body {
  margin: 0;
  font-family: "Poppins", Roboto, "Helvetica Neue", sans-serif;
}
.green-snackbar {
  background-color: #d4ecd9;
  color: #616d31 !important;
}

.red-snackbar {
  background-color: #f2dede;
  color: #a94442 !important;
}

@include angular-material-theme($mat-app-theme);
